.table 
{
    margin-right: 5cm;
    margin-left: 5cm;
    height: 12cm;
    align-items: center;
}

th
{
    width: 250px;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
    border: solid 2px;
    background-color: pink;
}

td 
{
    text-align:  center;
    border: solid 2px;
    background-color: antiquewhite;
}

#simulator
{
    text-align:  center;
    border: solid 2px;
    background-color: antiquewhite;
}

.entries 
{ 
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 2cm;
    font-size: 15px;
    height: 50px;
    width: 300px;
}

#submit-bttn, #clear-bttn
{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 2cm;
    font-size: 15px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    background-color: pink;
}

#previous-input, 
#back-to-start, #next-input
{
    margin-right: 80px;
    margin-left: 100px;
    margin-top: 2cm;
    font-size: 15px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    background-color: pink;
}

.simulator-div
{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
}

#state 
{
    height: 200px;
    width: 220px;
    /*
    yellow = #e9c46a
    green = #588157
    red = #e76f51 */
    background-color: #588157;
    border-radius: 50%;
}

#state-name
{
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: 80px;
}